@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-blur {
  @apply bg-color-primary-dark opacity-85 border-b border-color-gray;
  backdrop-filter: blur(1px);
}

.btn {
  @apply bg-gradient-to-tl from-indigo-600 via-pink-600  to-purple-600 px-9 shadow-2xl py-3 rounded-3xl capitalize font-bold hover:opacity-80 ease-in duration-200;
}

.card_btn {
  @apply w-full px-9 py-3 bg-color-primary-dark rounded-full capitalize font-bold hover:bg-gradient-to-tl from-indigo-600 via-pink-600  to-purple-600 ease-in duration-200;
}

.bg-campur {
  @apply bg-gradient-to-tl from-indigo-600 to-purple-600 shadow-2xl;
}

.bg-toggle {
  @apply bg-gradient-to-tl from-slate-400 to-slate-500;
}

.title {
  @apply text-3xl md:text-4xl font-bold leading-snug;
}

.blob1 {
  @apply w-80 h-80 bg-color-blob absolute top-0 -left-5 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full;
}

.blob2 {
  @apply w-80 h-80 bg-color-secondary absolute bottom-10 right-0 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full;
}

.user-text {
  display: none;
}

.user-text.active-text {
  display: block;
  animation: moveup 1s linear forward;
}

.user-pic {
  transition: all 0.2s ease;
}

.navbar-fixed {
  @apply fixed z-[999] bg-white bg-opacity-5;
  backdrop-filter: blur(3px);
}

.user-pic.active-pic {
  border: 4px solid #4f46e5;
}

@keyframes moveup {
  0% {
    margin-top: 40px;
    opacity: 0;
  }
  50% {
    margin-top: 20px;
    opacity: 0.1;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

.card {
  persective: 1000px;
}

.front,
.back {
  backface-visibility: hidden;
  transition: all 0.4s ease;
}

.front {
  overflow: hidden;
}
